html 
{
    height:100%;
}
body
{
    height:100%;
    display:grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:0;
}
h1 
{
    font-family: 'Fredoka One', cursive;
    color:rgb(206, 84, 84);
    
}

.informacion 
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("./images/animated_gif.gif");
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}   

.parrafo 
{
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 15px;
}
.name 
{
    font-family: 'Fredoka One', cursive;
    margin-left: 10px;
    color: rgb(255, 185, 227);
    font-size: 15px;
    justify-self: flex-start;
}
.books 
{
    position: relative; 
    top:10px;
    width:30px;
    height:30px;
}
.libro 
{
   
    width:200px;
    height:200px;
    justify-self: center;
}
.text1 
{
    justify-self: center;
    font-size: small;
    font-family: 'Fredoka One', cursive;
}
.registro 
{
    overflow: hidden;
    background-color: papayawhip;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form 
{
    background-color: rgb(151, 177, 231);
    border-radius: 10px;
    border: 2px solid white;
    width: 40%;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    
}
form 
{
    display: flex;
    flex-direction: column;
}
input 
{
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
}
label 
{
    font-family: 'Fredoka One', cursive;
}
.aInicia
{
    color:rgb(246, 246, 246);
}

.aInicia:hover 
{
    color:rgb(97, 37, 37);
}
.envio 
{
    font-family: 'Fredoka One', cursive;
    color: white;
    width:105%;
    height:50px;
    border-radius: 10px;
    border: 2px solid brown;
    background-color: brown;
}
#buttonSiguiente:hover 
{
    background-color: rgb(100, 100, 160);
    border: 2px solid rgb(100, 100, 160);
}
.envio:hover 
{
    background-color: rgb(100, 100, 160);
    border: 2px solid rgb(100, 100, 160);
}
#buttonSiguiente 
{
    font-family: 'Fredoka One', cursive;
    color: white;
    width:105%;
    height:50px;
    border-radius: 10px;
    border: 2px solid brown;
    background-color: brown;
    margin-bottom: 30px;
    margin-top: 5px;
}
#buttonSiguiente:disabled
{
    border: 2px solid rgb(150, 161, 187);;
    border-radius: 10px;
    background-color: rgb(150, 161, 187);
    cursor: not-allowed;
}
.envio:disabled 
{
    border: 2px solid rgb(150, 161, 187);;
    border-radius: 10px;
    background-color: rgb(150, 161, 187);
    cursor: not-allowed; 
}
h6 
{
    position: relative;
    bottom:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:red;
}
@media(max-width:671px)
{
    .libro 
    {
        width:100px;
        height:100px;
    }
}
@media(min-width:501px) and (max-width:612px)
{
    h1 
    {
        position: relative;
        right:20px;
    }
}
@media(max-width:501px)
{
    h1 
    {
        position: relative;
        right:50px;
    }
}
@media(max-width:415px)
{
    button 
    {
        position: relative;
        right:20px;
       padding-right:65px;
    }
    body 
    {
        grid-template-columns: 150px 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .parrafo
    {
        font-size: 15px;
    }
    .libro 
    {
        width:70px;
        height:70px;
    }
    .text1 
    {
        font-size: 10px;
    }
    .form 
    {
        width:20%;
    }
    h1 
    {
        font-size: 25px;     
    }
    label 
    {
        position: relative;
        right:40px;
    }
    input 
    {
        
        position: relative;
        right:40px;
        width:120px;
    }
}
