<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/book.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/styleRegistro.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <div class="informacion">
        <h3 class="name">Elobooks  <img class="books" src="../static/images/books.png" alt=""> </h3>
        <p class="parrafo">Find information about thousands of books and give your opinion about them!</p>
        <img src="../static/images/book.png" class="libro" alt="libro">
        <p class="text1">Already have an account?<a class="aInicia" href="/login">Log in</a></p>
    </div>
    <div class="registro">
        <div class="form">
            <h1>Register!</h1>
                <div class="contForm1" id="contForm1">
                    <label for="nombreCompleto">Full name</label>
                    <input type="text" id="nombreCompleto" name="nombre_completo">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="usuario">
                    <h6 id="h6" style="display:none;">Your username must have at least 6 characters</h6>
                    <button type="button" id="buttonSiguiente" disabled>Next</button>
                </div>
                <div class="contForm2"  id="contForm2" style="display:none;">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="At least 8 characters">
                    <label for="confirmPassword">Confirm your password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword">
                    <h6 id="h6_2" style="display:none;">Passwords don't match or the length of the password is less than 8 characters</h6>
                    <button class="envio" type="submit" style="display:none;" id="envio" disabled onclick=yes()>Sent</button>
                </div>
        </div>
    </div>
    <script src="../static/scriptRegister.js"></script>
    <script>
        let confirmPassword_ = document.getElementById("confirmPassword");
        confirmPassword_.addEventListener("keypress", 
            function(event)
            {
                let envio = document.getElementById("envio");
                if(event.key == "Enter")
                {
                    envio.click();
                }
            }
        )
        function yes()
        {
            let name = document.getElementById("nombreCompleto");
            let username = document.getElementById("username");
            let password = document.getElementById("password");
            let entry = {name:name.value, username:username.value, password:password.value};
            //gracias a fetch podemos enviar y recibir datos entre el servidor y el cliente
            fetch('/registerDatosInput', 
            {
                method:"POST",
                body:JSON.stringify(entry),
                headers:
                    {
                        "content-type":"application/json"
                    }
                
            }).then(response => response.json())
            .then(function(data)
            {
                alert(data["message"]);
                window.location.href = data["redirect"];
            })
        }
    </script>
</body>
</html>