<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>elobooks</title>
    <link rel="icon" href="../static/images/book.png">
    <link rel="stylesheet" href="../static/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="/" style="text-decoration:none;"> <h3 id="h3"></h3></a>
        <a id="logout" href="/logout">Log out</a>
    </nav>
    <div class="entrada">
        <h2 id="frase">Choose the way you want to look for the book that you want</h2>
            <select id="select" name="selection" required>
                <option value="Buscar" disabled selected>Search:</option>
                <option value="Title">By title</option>
                <option value="Author">By author</option>
                <option value="ISBN">By isbn</option>
            </select>
            <input type="text" id="barra" disabled placeholder="Please choose an option">
    </div>
    <div class="posters" id="posters">
        
    </div>
    <script src="../static/welcome.js"></script>
    <script src="../static/input.js"></script>
    <script>
        let h3 = document.getElementById("h3")
        let a = {"mensaje": "sending"}
        window.addEventListener("load", 
        function(event)
        {
            fetch("/index", 
            {
                method:"POST",
                body:JSON.stringify(a),
                headers:{  "content-type":"application/json"}
            }
            ).then(response => response.json())
            .then(function(data)
            {
                h3.innerHTML = "¡Bienvenido " + data["message"] + " !"
            })
        }
        )
    </script>
</body>
</html>